<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>Amenities</h1>

    <br />

    <div class="container-fluid">
        <div class="row row-cols-3">
            <div class="col bg-light text-center">
                Community Amenities
            </div>
            <div class="col bg-light text-center">
                Apartment Amenities
            </div>
            <div class="col bg-light text-center">
                Pet Policy
            </div>
        </div>

        <br />

        <div class="row row-cols-3">
            <div class="col text-left">
                <ul class="list-group list-inline text-center">
                    <li class="list-group-flush">Brand New Community Center</li>
                    <li class="list-group-flush">Ample Parking</li>
                    <li class="list-group-flush">High Speed Internet</li>
                    <li class="list-group-flush">Close To Shopping, Walking Trails & Parks</li>
                    <li class="list-group-flush">Easy Acess To Freeway</li>
                </ul>
            </div>
            <div class="col text-left">
                <ul class="list-group list-inline text-center text">
                    <li class="list-group-flush">Brand New Carpet & Hardwood Flooring</li>
                    <li class="list-group-flush">Updated Appliances</li>
                    <li class="list-group-flush">Washer/Dryer</li>
                    <li class="list-group-flush">Private Patios/Decks</li>
                    <li class="list-group-flush">Brand New Cabinets/Countertops</li>
                    <li class="list-group-flush">Walk-In Closets</li>
                </ul>
            </div>
            <div class="col text-left">
                <ul class="list-group list-inline text-center">
                    <li class="list-group-flush">Cats and Dogs Allowed</li>
                    <li class="list-group-flush">2 Pet Limit Per Home</li>
                    <li class="list-group-flush">$250 Pet Fee</li>
                    <li class="list-group-flush">$250 Pet Deposit</li>
                    <li class="list-group-flush">$25 Monthly Pet Rent</li>
                    <li class="list-group-flush">200lbs. Weight Limit</li>
                    <li class="list-group-flush">Breed Restrictions May Apply</li>
                </ul>
            </div>
        </div>
    </div>

    <br />

    <div class="col-11 text-right">
        <h3>Testimonials</h3>
    </div>
    <div class="col-11 text-right">
        <figure class="text-end">
            <blockquote class="blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ut lorem turpis, lacinia a nulla non, congue dignissim ex. 
                Integer congue odio non tincidunt ultrices. 
                Ut pellentesque, lacus et dignissim cursus, nisi justo porttitor elit, id consectetur libero eros quis turpis. 
                Vivamus placerat maximus porttitor. Proin blandit urna orci, sit amet sollicitudin sem dapibus sit amet. 
                Curabitur vel purus nec ligula pretium aliquam ut et nunc. Etiam rutrum tortor quam. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                Suspendisse nisl ipsum, efficitur in pretium in, tincidunt at massa. Proin finibus pulvinar blandit. 
                Aenean ligula orci, lacinia vel egestas nec, sodales hendrerit turpis. </p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Current resident, <cite title="Source Title">Mable Something</cite>
            </figcaption>
        </figure>
    </div>
</body>
</html>