@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!-- Hero section -->
    <section id="hero">
        <div class="hero container">
            <div>
                <h1>Discover Your New<span></span></h1>
                <h1>Luxury Home<span></span></h1>
                <h1>With Us<span></span></h1>
                <a href="#" type="button" class="cta">Check Unit Availablity</a>
            </div>
        </div>
    </section>
    <!-- End Hero section -->

    <!-- Amenities Section-->
    <section id="amenities">
        <div class="amenities container">
            <div class="amenities-top">
                <h2 class="amenities-title">Amenities</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Ut lorem turpis, lacinia a nulla non, congue dignissim ex. 
                Integer congue odio non tincidunt ultrices. 
                Ut pellentesque, lacus et dignissim cursus, libero eros quis turpis. 
                Vivamus placerat maximus porttitor.</p>
            </div>
            <div class="amenities-bottom">
                <div class="amenities-item">

                </div>
            </div>
        </div>
    </section>
    <!-- End Amenities Section-->
</body>
</html>